<template>
  <!-- Two -->
  <section id="two" class="wrapper style2">
    <div class="inner">
      <div class="box">
        <div class="content">
          <header class="align-center">
            <p>maecenas sapien feugiat ex purus</p>
            <h2>{{ post.title.rendered }}</h2>
          </header>
          <div class="post-meta">
            <p>{{ post.date_gmt | output-date }}</p>
            <p>by {{ authors[post.author].name }}</p>
          </div>
          <article class="post-body" v-html="post.content.rendered"></article>
         </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    props: {
      post: { type: Object },
    },
    computed: mapState(['authors'])
  }
</script>

<style scoped>

</style>
