<template>
  <!-- One -->
  <section id="One" class="wrapper style3">
    <div class="inner">
      <header class="align-center">
        <p>Eleifend vitae urna</p>
        <h2>Generic Page Template</h2>
      </header>
    </div>
  </section>
</template>

<script>
  export default {
    name: "BannerFull"
  }
</script>

<style scoped>

</style>
