<template>
  <header id="header" class="alt">
    <div class="logo">
      <nuxt-link to="/">{{ siteData.name }}</nuxt-link>
      <p class="subhead">{{ siteData.description }}</p></div>
    <a href="#menu">Menu</a>
  </header>
</template>

<script>
export default {
  props: {
    siteData: { type: Object }
  }
}
</script>

<style lang="scss" scoped>

</style>

