<template>
  <div>
    <blog-header :siteData="site_data" />
    <banner-full/>
    <nuxt/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BlogHeader from '~/components/layout/BlogHeader'
import BannerFull from '~/components/layout/BannerFull'

export default {
  computed: mapState(['site_data']),
  components: {
    BlogHeader,
    BannerFull
  }
}
</script>
